.card-spotlight {
  position: relative;
  width: 200px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid lab(0.82% 0 0 / 0.2);
  background-color: #3E92CC;
  padding: 2rem;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
  transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.45s cubic-bezier(0.22, 1, 0.36, 1);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* Tablet */
@media (max-width: 1024px) {
  .card-spotlight {
    width: 180px;
    height: 140px;
    padding: 1.5rem;
  }
}

/* Small devices */
@media (max-width: 475px) {
  .card-spotlight {
    width: 100px;
    height: 95px;
    padding: 1.2rem;
  }
}

/* X-Small devices */
@media (max-width: 321px) {
  .card-spotlight {
    width: 90px;
    padding: 1rem;
  }
} 

.custom-spotlight-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}

.active {
  background-color: #0a2463;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  /* transform: translateY(-4px); */
}
